/* Reports page CSS */

.report-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px
}

@media(max-width:900px) {
    .report-grid {
        grid-template-columns: 1fr 1fr
    }
}

@media(max-width:620px) {
    .report-grid {
        grid-template-columns: 1fr
    }
}